<html>
<head>
    <title>Furqan's work 4</title>
</head>

<body>
  <form action="/transfer" method = "POST">
    <p><h3>Enter amount of money you want to Transfer!</h3></p>
    <p>Enter Username : <input type = "text" name="username"></p>
    <p>Enter Password : <input type = "password" name="password"></p>
    <p>Enter Receiver username : <input type = "text" name="to"></p>
    <p>Enter Amount : <input type = "text" name="amount"></p>
    <p><input type = "submit" value="Transfer"></p>
  </form>
</body>

</html>
